body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    background-color: #020617;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    text-align: center;
}

#question {
    margin: 15px 0;
    font-size: 18px;
}

#options {
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
}

.option-btn {
    padding: 10px;
    background-color: #1e293b;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.correct {
    background-color: #16a34a;
}
.wrong {
    background-color: #dc2626;
}

#next-btn {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #ecc8f8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn:disabled {
    opacity: 0.7;
    cursor:default;
}